@model Eureka.Models.Servicio

@{
    ViewData["Title"] = "Agregar Servicio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles
{
   @await Html.PartialAsync("_CssCRUD")
}

@{
    string[] info = { "Servicios", "crear" };
}
@await Html.PartialAsync("_Breadcrumb", info)
    <div class="col-md-4 col-md-offset-4">
    <div class="panel panel-success" id="panel-updatable">
        <div class="panel-heading">
            <h3 class="panel-title">Crear Servicio</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                        <input type="hidden" value="0" asp-for="Id" />
                                <div class="col-md-12 form-group">
                                    <label asp-for="Descripcion" class="col-md-4 font-16">@Html.DisplayNameFor(model => model.Descripcion) :</label>
                                    <div class="col-lg-8">
                                        <a href="#" id="Descripcion" class="eu-editable validate font-16"></a>
                                    </div>
                                </div>
                                <div class="col-md-12 form-group">
                                    <label asp-for="ReglaPrecio" class="col-md-4 font-16">@Html.DisplayNameFor(model => model.ReglaPrecio) :</label>
                                    <div class="col-lg-8">
                                        <a href="#" id="ReglaPrecio" class="eu-editable validate font-16"></a>
                                    </div>
                                </div>
                            <div class="col-md-12 form-group">
                                <label asp-for="EstadoId" class="col-md-4 font-16">@Html.DisplayNameFor(model => model.EstadoId) :</label>
                                <div class="col-lg-8">
                                    <select asp-for="EstadoId" class="eu-selectize" asp-items="ViewBag.EstadoId"><option value="">Seleccione</option></select>
                                </div>
                            </div>
            </div>
            <div class="form-group demo-nifty-btn">
                <button id="btnGuardar" type="button" class="btn btn-success btn-block"><i class="ion-checkmark ion-14px"></i> Guardar</button>
            </div>
            <hr class="new-section-sm">
            <a class="btn btn-sm btn-default" asp-action="index"><i class="ion-arrow-left-b ion-14px"></i> Regresar al listado</a>
            <a class="btn btn-default pull-right" asp-action="create"><i class="ion-plus-circled ion-14px"></i> Agregar otro</a>
        </div>
    </div>
</div>


@section Scripts {
    @await Html.PartialAsync("_ScriptsCRUD")
    @await Html.PartialAsync("_ScriptsCU", "servicio")
    <environment include="Development">  
        <script src="~/js/models/servicio.model.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/models/servicio.min.js" asp-append-version="true"></script>
    </environment> 
}
